
/*Configuração da imagem de fundo */

body {

  position: relative;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Cor de fundo base */
  min-height: 100vh;
  overflow-x: hidden;

}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/imageTuristicas/logo-senai.png) no-repeat center;
  background-size: 585px 150px; /* mantém o tamanho exato */
  opacity: 0.25; /* deixa a imagem quase apagada */
  pointer-events: none; /* garante que não interfira nos cliques */
  z-index: -1; /* fica atrás do conteúdo */
}

/*------------------------------------------------------------------------------------*/

h1 {
  color: rgb(64, 64, 68);
  font-family: Arial, sans-serif;
  font-weight: bold;   /* deixa em negrito */
  text-align: center;  /* centraliza o texto */
  font-size: 2.5em;    /* aumenta o tamanho da fonte */

}



h2 { color: #222222; } /* Azul médio */
h3 { color: #388E3C; } /* Verde médio */
h4 { color: #7B1FA2; } /* Roxo médio */
h5 { color: #F57C00; } /* Laranja vivo */
h6 { color: #0097A7; } /* Azul turquesa */

/*----------------------- BOTÃO PROXIMA PAGINA -----------------------------------*/

.btn {
  display: block;   /* muda de inline-block para block */
  width: fit-content; /* largura ajusta ao conteúdo */
  margin: 20px auto;  /* auto centraliza */
  padding: 10px 20px;
  background-color: #1976D2;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0D47A1;
}


/*MENU HORIZONTAL */


.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: #4682B4;        /* azul suave no texto */
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold; 
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}

/* efeito ao passar o mouse */
.menu a:hover {
  border-color: #87CEFA;             /* borda azul bebê */
  background-color: rgba(135, 206, 250, 0.3); /* fundo azul claro translúcido */
  transform: scale(1.1);
}

